@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Dovemayo_gothic";
  margin: 0;
}

.rabbit {
  position: relative;
  left: 50%;
  top: 0;
  width: 100px;
  height: 100px;
  background-image: url(img/rabbit3.png);
  background-repeat: no-repeat;
  background-size: contain;
  animation: rabbit 1s ease-in Infinite Alternate;
}
@keyframes rabbit {
  0% {
    top: 0px;
  }
  95% {
    width: 100px;
  }
  to {
    top: 400px;
    width: 105px;
    height: 100px;
  }
}

.map {
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  align-self: center;
  background: url("img/background.svg") no-repeat;
  background-position: center, 60%;
  background-size: cover;
  overflow-x: hidden;
}
.map .Status {
  width: 350px;
  height: 150px;
  background-color: aqua;
  position: fixed;
  text-align: center;
  align-self: center;
}
.map .BGM {
  width: 100%;
  height: 1em;
}
.map .Garden {
  padding: 4px;
  width: 350px;
  height: 350px;
  position: absolute;
  z-index: 1;
  cursor: default;
  transition: all 0.3s ease;
  top: 55vh;
  left: 12vw;
  background: url("img/GreenHouse.svg") no-repeat;
}
.map .Garden .MAP-inner {
  background: transparent;
  padding: 10px 15px;
  width: calc(100% + 30px);
  height: calc(100% + 20px);
  transition: inherit;
}
.map .Garden .title {
  font: 700 34px/1.3 "Poppins", sans-serif;
  margin: 0.1em 0 0;
  transition: 0.8s ease 600ms;
}
.map .Garden .description {
  font: 500 12px "Poppins", sans-serif;
  margin-top: -0.2em;
}
.map .Garden:after {
  z-index: 10;
  content: attr(data-description);
  background: #f9f8f7;
  color: #333;
  width: 280px;
  position: absolute;
  top: 90%;
  opacity: 0;
  transition: opacity 0.3s ease 0.3s, top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  height: auto;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -50px;
  border-radius: 6px;
  text-align: center;
}
.map .Garden:hover {
  transform: scale(1.12);
  z-index: 10;
}
.map .Garden:hover .Land-inner {
  background: transparent;
}
.map .Garden:hover .title,
.map .Garden:hover .description {
  -webkit-text-fill-color: #222;
}
.map .Garden:hover:after {
  top: 70%;
  opacity: 1;
}
.map a.Garden {
  cursor: pointer;
}
.map .Library {
  width: 400px;
  height: 400px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  cursor: default;
  transition: all 0.3s ease;
  top: 25vh;
  left: 15vw;
  background: url("img/library.svg") no-repeat;
}
.map .Library .MAP-inner {
  background: transparent;
  padding: 10px 15px;
  width: calc(100% + 30px);
  height: calc(100% + 20px);
  transition: inherit;
}
.map .Library .title {
  font: 700 34px/1.3 "Poppins", sans-serif;
  margin: 0.1em 0 0;
  transition: 0.8s ease 600ms;
}
.map .Library .description {
  font: 500 12px "Poppins", sans-serif;
  margin-top: -0.2em;
}
.map .Library:after {
  z-index: 10;
  content: attr(data-description);
  background: #f9f8f7;
  color: #333;
  width: 280px;
  position: absolute;
  top: 90%;
  opacity: 0;
  transition: opacity 0.3s ease 0.3s, top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  height: auto;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -50px;
  border-radius: 6px;
  text-align: center;
}
.map .Library:hover {
  transform: scale(1.12);
  z-index: 10;
}
.map .Library:hover .Land-inner {
  background: transparent;
}
.map .Library:hover .title,
.map .Library:hover .description {
  -webkit-text-fill-color: #222;
}
.map .Library:hover:after {
  top: 70%;
  opacity: 1;
}
.map a.Library {
  cursor: pointer;
}
.map .Shop {
  width: 350px;
  height: 350px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  cursor: default;
  transition: all 0.3s ease;
  background: url("img/shop.svg") no-repeat;
  top: 25vh;
  left: 64vw;
}
.map .Shop .MAP-inner {
  background: transparent;
  padding: 10px 15px;
  width: calc(100% + 30px);
  height: calc(100% + 20px);
  transition: inherit;
}
.map .Shop .title {
  font: 700 34px/1.3 "Poppins", sans-serif;
  margin: 0.1em 0 0;
  transition: 0.8s ease 600ms;
}
.map .Shop .description {
  font: 500 12px "Poppins", sans-serif;
  margin-top: -0.2em;
}
.map .Shop:after {
  z-index: 10;
  content: attr(data-description);
  background: #f9f8f7;
  color: #333;
  width: 280px;
  position: absolute;
  top: 90%;
  opacity: 0;
  transition: opacity 0.3s ease 0.3s, top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  height: auto;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -50px;
  border-radius: 6px;
  text-align: center;
}
.map .Shop:hover {
  transform: scale(1.12);
  z-index: 10;
}
.map .Shop:hover .Land-inner {
  background: transparent;
}
.map .Shop:hover .title,
.map .Shop:hover .description {
  -webkit-text-fill-color: #222;
}
.map .Shop:hover:after {
  top: 70%;
  opacity: 1;
}
.map a.Shop {
  cursor: pointer;
}
.map .NPC {
  width: 350px;
  height: 350px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  cursor: default;
  transition: all 0.3s ease;
  top: 47vh;
  left: 75vw;
  background: url("img/house.svg") no-repeat;
}
.map .NPC .MAP-inner {
  background: transparent;
  padding: 10px 15px;
  width: calc(100% + 30px);
  height: calc(100% + 20px);
  transition: inherit;
}
.map .NPC .title {
  font: 700 34px/1.3 "Poppins", sans-serif;
  margin: 0.1em 0 0;
  transition: 0.8s ease 600ms;
}
.map .NPC .description {
  font: 500 12px "Poppins", sans-serif;
  margin-top: -0.2em;
}
.map .NPC:after {
  z-index: 10;
  content: attr(data-description);
  background: #f9f8f7;
  color: #333;
  width: 280px;
  position: absolute;
  top: 90%;
  opacity: 0;
  transition: opacity 0.3s ease 0.3s, top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  height: auto;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -50px;
  border-radius: 6px;
  text-align: center;
}
.map .NPC:hover {
  transform: scale(1.12);
  z-index: 10;
}
.map .NPC:hover .Land-inner {
  background: transparent;
}
.map .NPC:hover .title,
.map .NPC:hover .description {
  -webkit-text-fill-color: #222;
}
.map .NPC:hover:after {
  top: 70%;
  opacity: 1;
}
.map a.NPC {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */